/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/*Slides*/
:root {
    --nav-background: #FAFAFA;
    --background: #206500;
    --headline: #7CCB1B;
    --sub-text: #000;
}
* {box-sizing: border-box}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.mySlides {display: none}
.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.slideshow-container {
    max-width: 100%;
    height: 60vh;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #111111;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/*Header*/

header,
.section_div,
.footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

/* Header styles */
.header_logo {
    width: 95px;
    height: 91px;
}

header {
    
    background-color: var(--nav-background);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    font-family: "Sedan SC", serif;
    font-size: 2rem;
    color: var(--headline);
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--headline);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Responsive navigation */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 5px 0;
    }
}

/*body*/
#body {
    padding: 4rem;
    background: linear-gradient(#206500, #FAFAFA);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
/*Home Section*/
.text {
    margin-top: 1em;
}
/* Headline and subtitle styles */
.headline {
    text-align: center;
    font-family: "Sedan SC", serif;
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
    color: var(--headline);
}
#effect .headline {
    text-align: center;
    font-family: "Sedan SC", serif;
    font-size: 2rem;
    text-shadow: 2px 2px 5px var(--nav-background);
    color: var(--sub-text);
}
.subtitle {
    text-align: left;
    font-family: "Sedan", serif;
    font-size: 1.25rem;
    color: var(--sub-text);
}
/*Grafic Section*/
.section_div {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Event_Change {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#myChart {
    width: 75vw;
    height: 75vh;
    padding: 1rem;
}

.dropdown-container {
    margin: 5px;
}
.chart_box {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
}
#grafic {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#check_boxes {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.year_selection {
    padding: 1rem;
}

label {
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background);
}

.check_box {
    padding: 10px;
}

.check_box input {
    width: 25px;
    height: auto;
}

.year_selection select {
    height: auto;
    width: 80px;
}
/*Event Section*/
.timeline-container {
    text-align: center;
}
.timeline-header {
    background-color: #80B640;
    color: #333;
    padding: 10px ;
    border-radius: 25px;
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.timeline div {
    background-color: #002A00;
    color: #C0FF74;
    padding: 20px;
    border-radius: 100px;
    width: 250px;
    height: 250px;
    text-align: center;
}
.timeline div h4 {
    font-size: 1rem;
}
.timeline div p {
    font-size: 0.75rem;
}
.timeline div a {
    color: #000;
    padding: 5px;
    border-radius: 50px;
    background-color: #7CCB1B;
}
/*Footer*/
.footer {
    background-color: var(--nav-background);
    width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: center;
}

.footer_logo {
    width: 225px;
    height: 225px;
    max-width: 100%;
}

.footer_link {
    padding-top: 2rem;
}

/* Responsive Footer */
@media only screen and (max-width: 600px) {
    .footer_logo {
        width: 100px;
        height: 100px;
    }

    .footer_link {
        padding-top: 1rem;
    }
}

.mySlides1 {display: none}
.mySlides1 img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.slideshow-container1 {
    max-width: 100%;
    height: 60vh;
    position: relative;
    margin: auto;
}
/* Next1 & previous1 buttons */
.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}
/* Position the "next button" to the right */
.next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active1, .dot1:hover {
    background-color: #111111;
}
/* Fading animation */
.fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade1 {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade1 {
    from {opacity: .4} 
    to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev1, .next1 {font-size: 11px}
}
/*Author - Site*/
.circle {
    height: 500px;
    width: 500px;
    max-width: 80vw;
    max-height: 80vw;
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);
    display: flex;
    justify-content: center;
    align-self: center;
    justify-items: center;
}
.circle img {
    height: 100%;
    align-self: center;
}
#split {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Info {
    margin: 2rem;
    padding: 2rem;
}
.link_logo {
    width: 95px;
    height: 91px;
    margin: 1rem;
}
/*-----------------------------------------*/
.chart-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* Media Queries für Responsivität */

@media only screen and (max-width: 768px) {
    .chart-container {
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .chart-container {
        width: 100%;
        margin-top: 20px;
    }
}

/* Stile für die Legende und Achsenbeschriftungen anpassen */

.chart-container .chartjs-size-monitor {
    overflow: hidden !important;
    z-index: -1 !important;
}

@media screen and (max-width: 768px) {
    .chart-container .chartjs-size-monitor, .chart-container #myChart {
        width: 100% !important;
    }
}

@media screen and (max-width: 568px) {
    .chart-container .chartjs-size-monitor, .chart-container #myChart {
        width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    .chart-container .chartjs-size-monitor, .chart-container #myChart {
        width: 100% !important;
    }
}