/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
:root{
    --nav-background:#FAFAFA;
    --background: #206500;
    --Headline: #7CCB1B;
    --sub-text:#FAFAFA;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
.header_logo{
    width: 95px;
    height: 91px;
}
header{
    height: 100px;
    background-color: var(--nav-background);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    padding: 10px 50px;
}
nav ul li a{
    font-family: "Sedan SC", serif;
    font-size: 32pt;
    color: var(--Headline);
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--Headline);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}
  
nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.headline {
    text-align: center;
    margin-left: 25px;
    font-family: "Sedan SC", serif;
    font-size: 48pt;
    text-shadow: 2px 2px 5px black;
    color: var(--Headline);
}
.subtitle{
    width: 589px;
    text-align:start;
    font-family: "Sedan", serif;
    font-size: 20pt;
    color: var(--sub-text);
}
.text_div{
    text-decoration: double;
}

.section_div{
    margin: 200px;
}
/*Home*/
.text_img{
    justify-content:center;
    display: flex;
    align-items: center;
}
.section_pic{
    align-self: center;
}
.img_div{
    width: 466px;
}
/*Grafic*/
#myChart{
    align-self: center;
}
#chart_box{
    display: flex;
    justify-content: center;
}
#grafic{
    width: 850px;
    height: 400px;
    background-color: var(--nav-background);
    border-radius: 50px;
    margin-bottom: 50px;
}
#check_boxes{
    padding-left: 60px;
}
.dropdown-container{
    display: flex;
    justify-content: center;
}
.year_selection{
    padding: 50px;
}
label{
    font-family: "Sedan SC", serif;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
    color: var(--Headline);
}
.check_box{
    padding: 10px;
}
.check_box label{
    background-color: rgba(0, 0, 0, 0,2);
}
.check_box input{
   width: 25px;
   height: 25px;
}
.year_selection select{
    height: 25px;
    width: 80px;
}

/*Effect modify*/
#effect_text{
    margin-left: 50px;
}



/*Footer*/
footer{
    height: 218px;
    width: 100vw;
    background-color: var(--nav-background);
}
.footer_logo{
    width: 225px;
    height: 225px;
}
.footer_link{
    padding-top: 75px;
}